.gameContainer{
  height: 60vh;
  width: 50vh;
  border: 5px solid black;
  border-radius: 50%;
  margin: 50px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hotpink;
  flex-basis: auto;
}
.buttonContainer {
    text-align: center;
    margin: 10px;
    width: 40vh;
    height: auto;
    position: relative;
    
}
.screen {
    height: 30vh;
    width: 35vh;
    background-color: #a6a6a6;

    position: relative;
    border-radius: 20px;

}
img {
  height: inherit;
  width: inherit;
}

.buttonContainer button {
  background-color: lightgrey;
  border: 1px solid black;
  font-size: 30px;
  border-radius: 50%;
  padding: 10px;
  filter: drop-shadow(0px 5px 4px black);
  cursor: pointer;
}

button:active {
  background-color: gray;
  filter: drop-shadow(0px 2px 4px rgb(21, 22, 22));
  transform: translateY(3px);
}

.statusbar{
  position: relative;
  top: 350px;
  left: 30px;
}


